@import "../scss/fonts";

// color
$colorMain: #111;
$colorWhite: #fff;
$colorTextReviews: #49616e;
$colorNameReviews: #162e3c;
$colorHoverText: #cdaa7d;

// width
$siteWidth: 1296px;
$siteWidthTable: 736px;
$siteWidthMobile: 330px;
$siteWidthMobileBig: 425px;

// height

// fontSize

// font-family
$fontFamilyMain: "EB Garamond";
$fontFamilyCormorantGaramond: "Cormorant Garamond";
$fontFamilySpaceGrotesk: "Space Grotesk";

// gap

// padding
